@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


body {
  font-family: --font-ibm-mono, monospace;
}

@font-face {
  font-family: "Cooper-Black";
  src: url("/homer/COOPBL.ttf");
}

:root {
  --cooper-font: "Cooper-Black";
}

* {
  /* outline: papayawhip 1px dashed; */
}